{
  "plugins": [
    ["module-resolver", {
      "root": "./src",
      "alias": {
        "@components": "./src/components",
        "@image": "./src/assets/img",
        "@styles": "./src/assets/scss"
      }
    }],
    ["react-hot-loader/babel"]
  ]
}